Q1

In [1]:
import re
data = 'Python Exercises, PHP exercises.'
result = (re.sub("[ ,.]", ":", data))
print(result)

Python:Exercises::PHP:exercises:

Q2

In [2]:
import pandas as pd

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

corrected_data = [Data.replace('XXXXX', '').replace(',', '').replace('!', '').replace(';', '').replace(':', '').replace('.', '').replace('123', '').strip() for Data in data['SUMMARY']]

df = pd.DataFrame(corrected_data)

print(df.to_string(index=True, header=False))

0    hello world
1           test
2  four five six

Q3

In [3]:
def find_four_or_more(text):
    pattern = re.compile(r'\b\w{4,}\b')
    long_words = pattern.findall(text)
    return long_words

data = 'I love programming, specially in Python. I recently started to learn it through DataTrained'
result = find_four_or_more(data)
print(result)

['love', 'programming', 'specially', 'Python', 'recently', 'started', 'learn', 'through', 'DataTrained']

Q4

In [4]:
def find_three_four_five(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    output = pattern.findall(text)
    return output

data = 'I love programming, specially in Python. I recently started to learn it through Data Trained'
result = find_three_four_five(data)
print(result)

['love', 'learn', 'Data']

Q5

In [5]:
def remove(strings):
    pattern = re.compile(r'[()]')
    result = [pattern.sub('', s) for s in strings]
    return result

data = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = remove(data)
print(output)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

Q6

In [6]:
with open('D:/Study/Question6.txt', 'r') as file:
    text = file.read()

result = re.sub(r'\s*\([^)]*\)', '', text)

print(result)

["example", "hr@fliprobo", "github", "Hello", "Data"]

Q7

In [7]:
data="ImportanceOfRegularExpressionsInPython"
result=re.findall('[A-Z][a-z]*', data)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8

In [8]:
def add_spaces(text):
    updated = re.sub(r'(\d)([A-Za-z])', r'\1 \2', text)
    return updated

data = "RegularExpression1IsAn2ImportantTopic3InPython"
result = add_spaces(data)
print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

Q9

In [9]:
def add_spaces(text):
    updated = re.sub(r'(?<=[a-z])(?=[A-Z0-9])|(?<=[0-9])(?=[A-Z])', ' ', text)
    return updated

data = "RegularExpression1IsAn2ImportantTopic3InPython"

result = add_spaces(data)
print(result)

Regular Expression 1 Is An 2 Important Topic 3 In Python

Q10

In [10]:
url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
data = pd.read_csv(url)

print("Original DataFrame:")
print(data.head())

data['first_five_letters'] = data['Country'].str[:6]

print("\nDataFrame with 'first_five_letters' column:")
print(data.head())

Original DataFrame:
       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual
0     0.29678            2.51738
1     0.43630            2.70201
2     0.34139            2.49204
3     0.34699            2.46531
4     0.45811            2.45176

DataFrame with 'first_five_letters' column:
       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

Q11

In [11]:
def match_string(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, string):
        print("String matches the pattern")
    else:
        print("String does not match the pattern")

match_string("I_am_learning_Python3")
match_string("Regular Expression")

String matches the pattern
String does not match the pattern

Q12

In [12]:
def check_number(data, number):
    if data.startswith(str(number)):
        return True
    else:
        return False

data = "987654"
number = 98

if check_number(data, number):
    print("string starts with the specific number")
else:
    print("string does not start with the specific number")

string starts with the specific number

Q13

In [13]:
ip = "192.168.02.02"
data = re.sub('\.[0]*', '.', ip)
print(data)

192.168.2.2

Q14

In [14]:
with open('D:/Study/Question14.txt') as file:
    text = file.read()

pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'

matches = re.findall(pattern, text)

for match in matches:
    print(match)

August 15th 1947

Q15

In [15]:
data = ['The quick brown fox jumps over the lazy dog.']

for word in data:
    search = re.search('fox', word)
    print (search)
    search = re.search('dog', word)
    print (search)
    search = re.search('horse', word)
    print (search)

<re.Match object; span=(16, 19), match='fox'>
<re.Match object; span=(40, 43), match='dog'>
None

Q16

In [16]:
data = ['The quick brown fox jumps over the lazy dog.']

for word in data:
    search = re.search('fox', word)
    if search:
        print("Pattern 'fox' found at index:", search.start(), "-", search.end())

Pattern 'fox' found at index: 16 - 19

Q17

In [17]:
data = 'Python exercises, PHP exercises, C# exercises'

result = re.findall('exercises', data)

print(result)

['exercises', 'exercises', 'exercises']

Q18

In [18]:
data = 'Python exercises, PHP exercises, C# exercises'

matches = [(match.start(), match.end()) for match in re.finditer('exercises', data)]

print(matches)

[(7, 16), (22, 31), (36, 45)]

Q19

In [19]:
from datetime import datetime

date_ymd = '2023-12-10'

old = datetime.strptime(date_ymd, '%Y-%m-%d')

new = old.strftime('%d-%m-%Y')

print(new)

10-12-2023

Q20

In [20]:
def find_decimals(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    return pattern.findall(text)

data = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimals(data)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Q21

In [21]:
def separate_words(text):
    words = text.split()
    positions = {}

    for word in words:
        if word.isdigit():
            positions[word] = words.index(word)

    print("Numbers:Positions=", positions)

data = "in this village, there are 20 cows and 12 bulls"
separate_words(data)

Numbers:Positions= {'20': 5, '12': 8}

Q22

In [22]:
data = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = max(map(int, re.findall(r'\b\d+\b', data)))
print(numeric_values)

950

Q23

In [23]:
def insert_spaces(text):
    updated_text = re.sub(r'(?<!\b)(?=[A-Z])', ' ', text)
    return updated_text

data = "RegularExpressionIsAnImportantTopicInPython"
result = insert_spaces(data)
print(result)

Regular Expression Is An Important Topic In Python

Q24

In [24]:
data = "Regular Expression is an Important Topic in Python"

pattern = r'\b[A-Z][a-z]+\b'

result = re.findall(pattern, data)
print(result)

['Regular', 'Expression', 'Important', 'Topic', 'Python']

Q25

In [25]:
def remove_duplicate(sentence):
    pattern = r'\b([A-Za-z]+)(?:\s+\1\b)+'
    return re.sub(pattern, r'\1', sentence)

data = "Hello hello world world"
result = remove_duplicate(data)
print(result)

Hello hello world

Q26

In [26]:
data = ["Regular Expression Is An Important Topic In Python", 
        "I love programming, specially in Python$"]

def check_data(data):
    pattern = r"\w$"
    match = re.search(pattern, data)
    if match:
        return True
    else:
        return False
    
for item in data:
    print(check_data(item))

True
False

Q27

In [27]:
data = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

hashtags = re.findall(r'#\w+', data)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

Q28

In [28]:
data = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

result = re.sub(r'<U\+[0-9A-Fa-f]+>', '', data)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Q29

In [29]:
with open('D:/Study/Question29.txt', 'r') as file:
    text = file.read()

dates = re.findall(r'\b\d{2}-\d{2}-\d{4}\b', text)
print(dates)

['12-09-1992', '15-12-1999']

Q30

In [30]:
def remove_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    return pattern.sub('', text)

data = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = remove_words(data)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.